# 04 - DummyClassifier

Realizando predição simples (chute) para definir a linha base para os algoritmos de aprendizagem.

## Preparando o ambiente

In [1]:
import pandas as pd

## Carregando dados

In [2]:
titanic = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/kaggle-titanic/main/data/processed/train_processed_byage_ag.csv')
del titanic['Unnamed: 0']
titanic.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Floor,Embarked,Relateds,faixa_etaria,acompanhado,possui_cabine
0,0,3,male,22,1,0,SC,S,1,jovem_adulto,True,False
1,0,3,male,22,0,0,SC,C,0,jovem_adulto,False,False
2,0,3,male,22,0,0,SC,S,0,jovem_adulto,False,False
3,0,3,male,22,0,0,SC,S,0,jovem_adulto,False,False
4,0,3,male,22,0,0,SC,S,0,jovem_adulto,False,False